/node_modules
/public/hot
/public/storage
/public/.htaccess
/storage/*.key
/vendor
/architect-theme
/.idea
/.phpintel
.env
error_log
.env.backup
cronjob.log
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
