@import url(https://fonts.googleapis.com/css?family=Nunito);.delete-form {
  display: inline;
}

.btnsmp {
  padding: 0.15rem 0.15rem;
}

.app-sidebar.sidebar-text-light .vertical-nav-menu li a {
  color: #fff !important;
}

